.home {
	background: var(--gradient);
	padding-top: 300px;
	min-height: 945px;
}

.home__column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home__title {
	font-family: var(--titleFont);
	color: var(--roseColor);
	text-align: center;
	font-size: 6rem;
	font-weight: 700;
	margin-bottom: 3rem;
}

.home__button {
	margin-bottom: 250px;
}

.home__button-btn {
	padding: 12px 35px;
	background: var(--blackColor);
	color: var(--whiteColor);
	border-radius: 25px;
	transition: all .4s ease-in-out;
}

.home__button-btn:hover {
	box-shadow: 0 0 10px var(--blackColor);
}

.home__icon {
	animation: k-icon infinite 4s;
}

.home__icon-down {
	width: 70px;
	height: 70px;
	fill: var(--roseColor);
}

@keyframes k-icon {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0px);
	}
}
