.gallery {
	padding-top: 50px;
	background: #fcf4fd;
	min-height: 945px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	align-items: center;
}

.gallery__title {
	font-family: var(--titleFont);
	font-weight: 700;
	font-size: 4rem;
	color: var(--roseColor);
	margin-bottom: 3rem;
}